<div class="container-fluid navbar-default">
    <label class="sortBox" for="sort"> Sort By:</label>
    <select class="sortList" name="singleSelect" ng-model="sort">
        <option value="-votes">Votes</option>
        <option value="date">Date</option>
        <option value="title">Title</option>
    </select>
    <input type="text" class="searchBox" ng-model="view.search" placeholder="Search">
</div>
<hr>

<!-- New Post Form -->
<div class="container-fluid">
  <form ng-show="showme" name="userForm" ng-submit="addPost(city)">
        <div class="form-group" ng-class="{'has-error': userForm.title.$invalid && !userForm.title.$pristine, 'has-success': userForm.title.$valid}">
            <label class="control-label" for="title">Title</label>
            <input class="form-control" type="text" name="title" ng-model="city.title" ng-minlength="3" ng-maxlength="15" ng-required="true">
            <small class="help-block" ng-show="userForm.title.$error.minlength">Title is too short</small>
            <small class="help-block" ng-show="userForm.title.$error.maxlength">Title is too long</small>
        </div>
        <div class="form-group" ng-class="{'has-error': userForm.image.$invalid && !userForm.image.$pristine, 'has-success': userForm.image.$valid}">
            <label class="control-label" for="image">Image URL</label>
            <input class="form-control" type="text" name="image" ng-model="city.image" ng-required="true">
            <small class="help-block" ng-show="userForm.email.$error.email">Enter a valid Image URL</small>
        </div>
        <div class="form-group" ng-class="{'has-error': userForm.description.$invalid && !userForm.description.$pristine, 'has-success': userForm.description.$valid}">
            <label class="control-label" for="description">Description</label>
            <input class="form-control" type="text" name="description" ng-model="city.description" ng-required="true">
            <small class="help-block" ng-show="userForm.description.$invalid && !userForm.description.$pristine">Enter a valid description</small>
        </div>
        <button name="button" ng-disabled="userForm.$invalid" ng-click="showme=false">Submit</button>
    </form>
</div>

  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset">
      <p class="error">{{error}}</p>
  </div>

<!-- Posts Creation -->

<div ng-repeat="city in view.citiesArray | orderBy: sort | filter: view.search">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <img ng-class="image" ng-src="{{city.image}}">
        </div>
        <div class="media-body">
          <h2>
            <a class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-click="upVote(city)"></a>
            <a class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-click="downVote(city)"></a>
            <span ng-class="{'positive': city.votes >0,'negative':city.votes < 0}"> {{city.votes}} </span>
            | {{city.title}}
          </h2>
          <br>
          <p>{{city.description}}</p>
        </div>
        <div class="pull-right text-center"><strong>Posted by:</strong> {{city.name}} | <a href="/#/{{city.postId}}"> <strong>  Click for More!</strong></a></div>
        </div>
        <br>
        <div class="panel-footer">
          <p class="date" name="date">
            <button type="button" class="btn btn-default" ng-click="showComments = !showComments">
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <ng-pluralize count="city.comments.length" when="{'0': '0 Comments', '1': '1 Comment', 'other': '{} Comments'}"></ng-pluralize>
            </button> |
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{city.date}}
          </p>

      </div>
    </div>
  </div>
</div>
