<h1>Please sign up for Reddit Clone:</h1>
<br>

<form name="signUp" ng-submit="submitSignUp(newUser)">
  <div class="form-group" ng-class="{'has-error' : signUp.name.$invalid && !signUp.name.$pristine,'has-success' : signUp.name.$valid }">
    <label class="control-label" for="name">Username:</label>
    <input type="text" name="name" class="form-control" ng-model="newUser.name" ng-minlength="2" ng-maxlength="30" ng-required="true" placeholder="Username">
    <small ng-show="signUp.name.$error.minlength" class="help-block">Username is too short.</small>
    <small ng-show="signUp.name.$error.maxlength" class="help-block">Username is too long.</small>
  </div>
  <div class="form-group" ng-class="{'has-error' : signUp.email.$invalid && !signUp.email.$pristine,'has-success' : signUp.email.$valid }">
    <label class="control-label" for="email">Email:</label>
    <input type="text" name="email" class="form-control" ng-model="newUser.email" ng-minlength="2" ng-maxlength="50" ng-required="true" placeholder="Email">
    <small ng-show="signUp.email.$error.minlength" class="help-block">Email is too short.</small>
    <small ng-show="signUp.email.$error.maxlength" class="help-block">Email is too long.</small>
  </div>
  <div class="form-group" ng-class="{'has-error' : signUp.password.$invalid && !signUp.password.$pristine,'has-success' : signUp.password.$valid }">
    <label class="control-label" for="password">Password:</label>
    <input type="password" name="password" class="form-control" ng-model="newUser.password" ng-minlength="2" ng-maxlength="50" ng-required="true" placeholder="Password">
    <small ng-show="signUp.password.$error.minlength" class="help-block">Password is too short.</small>
    <small ng-show="signUp.password.$error.maxlength" class="help-block">Password is too long.</small>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="signUp.$invalid">Submit</button>
</form>
